<a href="https://colab.research.google.com/github/CynieC/Job-webscraping/blob/main/Jobswebscrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.flexjobs.com/search?search=data+analyst%2C+machine+learning%2Cpython'
response = requests.get(url)
response.status_code

200

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')
job_listings = soup.find_all('li', attrs = {'class' : 'm-0 row job'})
len(job_listings)

50

In [ ]:
all_jobs=[]
for job in job_listings:

    job_title = job.find('a', attrs = {'class' : 'job-title job-link'}).text.strip()#get jobtitle
    job_location =job.find('div', attrs = {'class' : 'job-locations'}).text.strip() #get location of job
    job_type =job.find('div', attrs = {'class' : 'job-tags'}).text.strip() #get job type
    job_description = job.find('div', attrs = {'class' : 'job-description'}).text.strip() #gt job description

    all_jobs.append({
        'title' : job_title,
        'location' : job_location,
        'type' : job_type,
        'description' : job_description
    })
  
df = pd.DataFrame(all_jobs)
df

,title,location,type,description
0,Principal Machine Learning Data Scientist,"San Francisco, CA",100% Remote Job\nFull-Time\nEmployee,Work with a team to improve efficiency in a sc...
1,Data Annotation Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Supporting data labeling projects both interna...
2,"Data Analyst, Insights","Ann Arbor, MI",Hybrid Remote Job\nFull-Time\nEmployee,"The Data Analyst will design, build, test, and..."
3,Finance-Data Analyst,Argentina,100% Remote Job\nFull-Time\nEmployee,"Build and execute data ingestion, data modelin..."
4,Senior Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Collects and analyzes data sets of a moderatel...
5,Senior Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Build data visualizations and analysis in medi...
6,Senior Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,The work will entail using knowledge and exper...
7,Senior Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Develop and evolve foundational growth and acq...
8,Clinical Data Analyst,US National,100% Remote Job\nFull-Time\nFreelance,Provide statistical programming support to pre...
9,Marketing Data Analyst,"Lisbon, Portugal",100% Remote Job\nFull-Time\nEmployee,Partner with Growth Marketing Department leade...
10,Revenue Management Data Analyst,"Miami, FL",100% Remote Job\nFull-Time\nEmployee,Revenue Management Data Analyst has responsibi...
11,Principal Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Translate conceptual questions into data-drive...
12,Senior Marketing Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Work closely with digital marketing managers a...
13,Senior Data Analyst Engineer,"Washington, DC",100% Remote Job\nFull-Time\nEmployee,Analyze internal and/or industry data and use ...
14,"Engineering Manager, Machine Learning",Poland,100% Remote Job\nFull-Time\nEmployee,"Design, develop and deploy a ML-powered soluti..."
15,Staff Machine Learning Engineer,US National,100% Remote Job\nFull-Time\nEmployee,"Design and implement a high-performance, scala..."
16,Senior Revenue Operations Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Partner with business stakeholders with your b...
17,"Senior Software Engineer, Machine Learning",Poland,100% Remote Job\nFull-Time\nEmployee,"Design, develop, and deploy an ML-powered solu..."
18,"Staff Software Engineer, Machine Learning",Poland,100% Remote Job\nFull-Time\nEmployee,"Design, develop, and deploy a ML-powered solut..."
19,Data Scientist,MA,100% Remote Job\nFull-Time\nEmployee,"Proactively explore, gather, clean, describe, ..."
20,Senior Applied Machine Learning Engineer - Con...,"New York, NY",100% Remote Job\nFull-Time\nEmployee,"Lead the design, creation, evaluation, shipmen..."
21,"Senior Scientist I, Computational Biology and ...","South San Francisco, CA",Hybrid Remote Job\nFull-Time\nEmployee,Work collaboratively with members of Computati...
22,Senior Technical Data Quality Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Perform statistical tests on large datasets to...
23,Staff Data Engineer,US National,100% Remote Job\nFull-Time\nEmployee,Integrate with teams consisting of product eng...
24,Data Scientist,"Warsaw, Poland",100% Remote Job\nFull-Time\nEmployee,Bring scientific rigor and statistical methods...
25,Senior Data Scientist,US National,100% Remote Job\nFull-Time\nEmployee,"Design, develop, and deploy advanced analytic ..."
26,Data Scientist,US National,100% Remote Job\nFull-Time\nEmployee,Develop best practices for instrumentation and...
27,"Senior Machine Learning Engineer II, Search Re...","US National (Not hiring in AK, HI)",100% Remote Job\nFull-Time\nEmployee,Strategically pick ideas from the latest in ML...
28,"Director, Data Science",US National,100% Remote Job\nFull-Time\nEmployee,"Produce analysis, machine learning solutions, ..."
29,Senior Data Engineer,US National,100% Remote Job\nFull-Time\nEmployee,Evaluate and innovate on existing or proposed ...
30,Data Scientist,"Austin, TX",Option for Remote Job\nFull-Time\nEmployee,"Data scientist needed for a full-time, remote ..."
31,"Data Scientist, Ecosystem",US National,100% Remote Job\nFull-Time\nEmployee,You will collaborate on a wide array of produc...
32,Data Scientist,"Copenhagen, Denmark",100% Remote Job\nFull-Time\nEmployee,The data scientist will evaluate & improve pro...
33,Business Intelligence Analyst,US National,100% Remote Job\nFull-Time\nEmployee,The Business Intelligence Analyst will be resp...
34,Senior Data Scientist,US National,100% Remote Job\nFull-Time\nEmployee,"Lead the design, analysis, and interpretation ..."
35,Senior Fraud Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Translate analysis and trends into recommendat...
36,Senior Product Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Become a trusted strategic partner to our Prod...
37,Senior Data Engineer,"Cologne, Germany",Hybrid Remote Job\nFull-Time\nEmployee,"Responsible for the design, development and ma..."
38,Senior Product Analyst,US National,100% Remote Job\nFull-Time\nEmployee,"You will collaborate with product managers, en..."
39,Senior Product Analyst,"Dublin, Ireland",100% Remote Job\nFull-Time\nEmployee,Analyze data to produce insights that shape ou...
40,"Data Scientist II, Product Analytics",US National,100% Remote Job\nFull-Time\nEmployee,"We are looking for a DA.A.SCIENTIST II, PRODUC..."
41,Senior Research Analyst,"New York, NY",Hybrid Remote Job\nFull-Time\nEmployee,Analyze bond market activity and market micro-...
42,Product Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Responsible for partnering with key stakeholde...
43,Marketing Analyst,US National,100% Remote Job\nFull-Time\nEmployee,"You will develop, maintain, and share key repo..."
44,Senior Staff Data Scientist,US National,100% Remote Job\nFull-Time\nEmployee,"Lead the design, analysis, and interpretation ..."
45,Product Analyst II,US National,100% Remote Job\nFull-Time\nEmployee,Analyze billions of mobile and digital messagi...
46,"Analyst - SQL, DBT, Metabase, Python","Canada, Mexico, or US National",100% Remote Job\nFull-Time\nEmployee,Build and maintain SQL queries to extract data...
47,Senior Software Engineer - Data Platform,US National,100% Remote Job\nFull-Time\nEmployee,Help build scalable data platforms that enable...
48,"Senior Analyst, Customer Insights",US National,100% Remote Job\nFull-Time\nEmployee,Drive value for clients through deep dive anal...
49,Data Scientist Team Lead,US National,100% Remote Job\nFull-Time\nEmployee,Apply senior application product expert skills...

In [ ]:
#store in a dataframe
df = pd.DataFrame(all_jobs)
df.columns = ["title", "location", "type","description"]
df.head()

,title,location,type,description
0,Principal Machine Learning Data Scientist,"San Francisco, CA",100% Remote Job\nFull-Time\nEmployee,Work with a team to improve efficiency in a sc...
1,Data Annotation Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Supporting data labeling projects both interna...
2,"Data Analyst, Insights","Ann Arbor, MI",Hybrid Remote Job\nFull-Time\nEmployee,"The Data Analyst will design, build, test, and..."
3,Finance-Data Analyst,Argentina,100% Remote Job\nFull-Time\nEmployee,"Build and execute data ingestion, data modelin..."
4,Senior Data Analyst,US National,100% Remote Job\nFull-Time\nEmployee,Collects and analyzes data sets of a moderatel...